.# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
env/
.venv/

# Node
node_modules/
npm-debug.log

# Environment variables
.env

backend/ipfs_test.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db